body{
    padding:0px;
    
    display:flex;
    flex-direction:column;
    align-items:center;
}
.bottom{
    margin-top:100px;
    
}

.box{
    width:200px;
    height:200px;
    background-color:#e0e0e0;
    border-radius:20px;
    /* 60px are used for blur */
    box-shadow:  20px 20px 60px #bebebe,  
                 -20px -20px 60px #ffffff;
    margin:100px auto;
}

.box2{
    width:200px;
    height:200px;
    background-color:#54507C;
    margin:100px auto;
    border-radius:20px;
    box-shadow:  20px 20px 60px #444446,
                inset -20px -20px 60px #43376e;
    /* border-color: black; */
}